@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: rgb(31, 4, 48);
   /* font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;*/
    font-family: "Arsenal SC", serif;
  font-weight: 400;
  font-style: normal;
    color: rgb(31, 4, 48);

}
.container{
    display: flex;
    flex-direction: column;
    max-width: 750px;
    height: 97vh;
    margin: auto;
    background-color: rgb(230, 230, 250);
    /*border-radius: 15px;*/
    

}

.title{
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 14px rgba(31, 4, 48, 0.25);
    margin: 1%;
}

.workArea{
    display: flex;
    box-sizing: border-box;
    height: 100%;
    
   

}
.result{
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 200%;
    border: none;
    background-color: rgb(230, 230, 250);
    color: inherit;
    box-shadow: 4px 4px 14px rgba(31, 4, 48, 0.25);
    
}

.btnGrid{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 65%;
    margin: 1%;
    justify-content: space-around;
}

.operationList{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 35%;
    margin: 1%;
}

.item{
    display: flex;
    box-sizing: border-box;
    height: 25%;
    justify-content:space-between;
    margin: 1%;
    color: inherit;
}

.btn{
    box-sizing: border-box;
    width: 22%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
    box-shadow: 4px 4px 14px rgba(31, 4, 48, 0.25);
    font-size: 100%;
    background-color: rgb(230, 230, 250);
    color: inherit;
    font: inherit;

}

p{
    text-align: center;
    font-size: 130%;
    
}

.listResult{
    resize: none;
    text-align: right;
    font-size: 130%;
    background-color: rgb(230, 230, 250);
    border: none;
}

.listResult,
.result:focus {
    outline: none;
}